<div id="<%= controller_name %>_<%= action_name %>">

  <!-- items -->
  <div class="item_box">
    <ul class="items">
      <% @items.each do |item| %>
        <!-- item -->
        <li class="item" data-item_id="<%= item.id %>">
          <div class="side_top">
            <a href="/items/<%= item.id %>">
              <%= icon_image_tag item.image_l, alt: item.title %>
            </a>
            <p>
              <%= item.title %>
            </p>
          </div>
          <div class="service_icon">
            <%= image_tag "/assets/service/icon_#{item.service_code}.png", title: item.title %>
          </div>
        </li>
        <!-- /item-->
      <% end %>
    </ul>
  </div>
  <!-- /items -->

</div>

<script>
$(function() {
  var app_view = new BackboneFrustration.Views.Top.IndexView();
});
$(window).load(function () {
  var app_view = new BackboneFrustration.Views.Top.IndexView();
});
</script>
