<%= form_tag sessions_path, method: :post, name: :form do %>
  <div class="field">
    <%= text_field_tag :username, '', placeholder: 'username' %>
  </div>
  <div class="field">
    <%= password_field_tag :password, '', placeholder: 'password' %>
  </div>
  <div class="actions">
    <%= link_to "Login", 'javascript:;',  onclick: 'form.submit();', class: 'social btn btn-default default' %><br />
    <%= link_to 'Sign in with Twitter', '/auth/twitter', class: 'social btn twitter' %><br />

    <br />

  </div>
<% end %>
