<ul class="search">
  <li>
    <a href='javascript:void' class="service_button forcus">
      <p>Amazon</p>
      <%= image_tag 'service/icon_0.png' %>
    </a>
  </li>

  <!--
  <li>
    <a href='javascript:void' class="service_button">
      <p>Calamel</p>
      <%= image_tag 'service/icon_1.png' %>
    </a>
  </li>
  -->

  <li>
    <a href='javascript:void' class="service_button">
      <p>Yahoo!Auction</p>
      <%= image_tag 'service/icon_2.png' %>
    </a>
  </li>

  <li>
    <a href='javascript:void' class="service_button">
      <p>Rakuten</p>
      <%= image_tag 'service/icon_3.png' %>
　   </a>
  </li>

  <li>
    <a href='javascript:void' class="service_button">
      <p>iTunes</p>
      <%= image_tag 'service/icon_4.png' %>
    </a>
  </li>

  <li>
    <a href='javascript:void' class="service_button">
      <p>frustration</p>
      <%= image_tag 'service/icon_5.png' %>
    </a>
  </li>
</ul>

<br />

<%= form_tag '/fumans/search', :method => :post do %>
  <%= hidden_field_tag :type, '1' %>

  <div class="field">
    <%#= label_tag :keywords %>
    <%= select_tag :Category,  options_for_select(ApiBucket::Service.instance(:amazon).categories) %>
    <%= text_field_tag :keywords %>
    <%= button_tag "Search", type: :submit, class: 'btn' %>
  </div>

<% end %>


＊とりあえずAmazon。あとでjsonで動的に取得できるようにする