
<%= form_tag '/search', :method => :post do %>
  <%= hidden_field_tag :type, 'amazon' %>

  <div class="field">
    <%= label_tag :keywords %>
    <%= text_field_tag :keywords %>
    <%= button_tag "Search", type: :submit, class: 'btn' %>
  </div>

<% end %>