<%= form_for(@user) do |f| %>
  <% if @user.errors.any? %>
    <div id="error_explanation" class="alert alert-error">
      <h2><%= pluralize(@user.errors.count, "error") %></h2>

      <ul>
      <% @user.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.text_field :username, placeholder: 'username', class: 'input-xlarge' %>
  </div>
  <div class="field">
    <%= f.text_field :email, placeholder: 'email', class: 'input-xlarge' %>
  </div>
  <div class="field">
     <%= f.password_field :password, placeholder: 'password', class: 'input-xlarge' %>
  </div>
  <div class="field">
     <%= f.password_field :password_confirmation, placeholder: 'confirmation', class: 'input-xlarge' %>
  </div>

  <div class="actions">
    <%= f.button type: :submit, class: 'btn btn-large' %>
  </div>

<% end %>

