<section id="<%= controller_name %>_<%= action_name %>">

  <!-- prefile -->
  <div class="profile_header">
    <div class="profile_icon">
      <%= icon_image_tag @target_user.icon_name, alt: @target_user.username %>
    </div>

    <div class="username">
      <h2>
        <%= @target_user.username %>
      </h2>
    </div>

    <div class="status_bar">
      <!--
      <button class="btn">23458<div>monmon</div></button>
      -->
    </div>

    <div class="friends btn-group">
      <a class="btn" href="<%= "/users/#{@target_user.username}/following" %>">
        <h4>23458</h4>
        <p>follows</p>
      </a>
      <a class="btn" href="<%= "/users/#{@target_user.username}/followers" %>">
        <h4>23458</h4>
        <p>followers</p>
      </a>
    </div>
  </div>
  <!-- /prefile -->

  <!-- item_menu -->
  <div class="items_menu">
    <ul class="nav nav-tabs">
      <li class="active"><a href="#">23458 monmon</a></li>
      <li><a href="#">32 Category</a></li>
      <li><a href="#">22 Tab</a></li>
    </ul>
  </div>
  <!-- /item_menu -->

  <!-- items -->
  <div class="item_box">
    <ul class="items">
      <% @items.each do |item| %>
        <!-- item -->
        <li class="item" data-fuman_id="<%= item.fuman.id %>">
          <div class="side_top">
            <a href="/items/<%= item.id %>">
              <%= icon_image_tag item.image_l, alt: item.title %>
            </a>
            <p>
              <%= item.title %>
            </p>
          </div>
          <div class="service_icon">
            <%= image_tag "/assets/service/icon_#{item.service_code}.png", title: item.title %>
          </div>
        </li>
        <!-- /item-->
      <% end %>
    </ul>
  </div>
  <!-- /items -->
</section>

<script>
$(function() {
  var app_view = new BackboneFrustration.Views.Users.ShowView();
});
$(window).load(function () {
  var app_view = new BackboneFrustration.Views.Users.ShowView();
});
</script>
