<div id="<%= controller_name %>_<%= action_name %>">
  <!-- items -->
  <div class="item_box">

    <ul class="itmes">
      <li class="item">
        <div class="profile_icon">
          <a href="/users/<%= @target_user.username %>">
            <%= icon_image_tag @target_user.icon_name, alt: @target_user.username %>
          </a>
        </div>

        <div class="username">
          <h2>
            <%= @target_user.username %>
          </h2>
        </div>

        <!-- follow group -->
        <div class="friends btn-group">
          <a class="btn" href="<%= "/users/#{@target_user.username}/followings" %>">
            <h4><%= @target_user.count_followings %></h4>
            <p>follows</p>
          </a>
          <a class="btn" href="<%= "/users/#{@target_user.username}/followers" %>">
            <h4><%= @target_user.count_followers %></h4>
            <p>followers</p>
          </a>
        </div>
        <!-- /follow group -->
      </li>
    </ul>

    <hr />

    <ul class="itmes">
      <% @users.each do |friendship| %>
        <li class="item">

          <div class="profile_icon">
            <a href="/users/<%= friendship.username %>">
              <%= icon_image_tag friendship.icon_name, alt: friendship.username %>
            </a>
          </div>

          <div class="username">
            <h2>
              <%= friendship.username %>
            </h2>
          </div>

          <!-- follow_button -->
          <% if @current_user.present? and @current_user.id != friendship.following_id  %>
            <div class="follow_group" data-following_id="<%= friendship.following_id %>">
              <% unless @current_friends.index(friendship.following_id).nil? %>
                <button class="btn" id="unfollow_button" data-following_id="<%= friendship.following_id %>">unfollow</button>
              <% else %>
                <button class="btn" id="follow_button" data-following_id="<%= friendship.following_id %>">follow</button>
              <% end %>
            </div>
          <% end %>
          <!-- /follow_button -->

          <!-- follow group -->
          <div class="friends btn-group">
            <a class="btn" href="<%= "/users/#{friendship.username}/followings" %>">
              <h4><%= friendship.following_user.count_followings %></h4>
              <p>follows</p>
            </a>
            <a class="btn" href="<%= "/users/#{friendship.username}/followers" %>">
              <h4><%= friendship.following_user.count_followers %></h4>
              <p>followers</p>
            </a>
          </div>
          <!-- /follow group -->

        </li>
      <% end %>
    </ul>
  </div>
  <!-- /items -->
</div>

<script>
$(function() {
  var app_view = new BackboneFrustration.Views.Friendships.FollowingsView();
});
</script>