<% content_for :header_title do %><%= @item.title %> : <% end %>
<% content_for :header_image do %><%= @item.image_l %><% end %>
<% content_for :header_description do %><%= @item.description %><% end %>


<div id="<%= controller_name %>_<%= action_name %>" data-item_id="<%= @item.id %>">
  <!-- item_box -->
  <section class="item_box">
    <% if @item.preview_url.blank? %>
      <%= link_to image_tag(@item.image_l), @item.url, class: 'item_image', target: '_blank' %>
    <% else %>
      <video src="<%= @item.preview_url %>" controls></video>
    <% end %>

    <p>
      <%= @item.title %>
    </p>

    <% item_url = "http://#{Settings.site_name}/items/#{@item.id}" %>
    <ul class="button_group">
      <li>
        <% if @current_user.nil? %>
        <% else %>
          <%= hidden_field_tag :service_code, @item.service_code, id: 's_service_name' %>
          <a href="#" class="btn frustrate <% if @registered %>registered<% end %>" title="このアイテムを登録します" data-product_code="<%= @item.product_id %>" id="frustration_button"><span>♥</span></a>
        <% end %>
      </li>
      <li>
        <a href="http://www.facebook.com/share.php?u=<%= item_url %>" onclick="window.open(this.href, 'FBwindow', 'width=650, height=450, menubar=no, toolbar=no, scrollbars=yes'); return false;" href="#" class="btn social facebook" title="このアイテムをfacebookで共有します">
          <span>f</span>
        </a>
      </li>
      <li>
        <a href="http://twitter.com/share?count=horizontal&original_referer=<%= item_url %>&text=<%= @item.title %>&url=<%= item_url %>&via=frustrationme" onclick="window.open(this.href, 'tweetwindow', 'width=550, height=450,personalbar=0,toolbar=0,scrollbars=1,resizable=1'); return false;" class="btn social twitter" title="このアイテムをfacebookで共有します">
          <span>t</span>
        </a>
      </li>
      <li>
        <a  href="http://pinterest.com/pin/create/button/?url=<%= item_url %>&media=<%= @item.image_l %>&description=<%= @item.title %>" onclick="window.open(this.href, 'PINwindow', 'width=650, height=450, menubar=no, toolbar=no, scrollbars=yes'); return false;" href="#" class="btn social pintarest" title="このアイテムをfacebookで共有します">
          <span>p</span>
        </a>
      </li>
    </ul>

  </section>
  <!-- /item_box -->

  <!-- info_box -->
  <section class="info_box">
    <article class="left_box">
      <div class="comments">
        <ul id="comments_box">

          <!-- create_comment -->
          <% if @current_user.nil? %>
          <% else %>
            <li id="create_comment_box">
              <%= hidden_field_tag 'user_username', @current_user.username %>
              <%= hidden_field_tag 'user_icon_name', @current_user.icon_name.url('thumb') %>
              <a href="#" class="user">
                <%= icon_image_tag @current_user.icon_name.url('thumb'), class: 'icon_name' %>
              </a>
              <div class="message">
                <div class="username">
                  <a href="/users/<%= @current_user.username %>">
                    <%= @current_user.username %>
                  </a>
                </div>
                <p>
                  <%= text_field_tag 'text', '', id: 'fuman_comment' %>
                  <%= button_tag 'add', class: 'btn btn-default', 'data-item_id' => @item.id, id: 'create_comment' %>
                </p>
              </div>
            </li>
          <% end %>
          <!-- /create_comment -->

        </ul>
      </div>

      <div class="comment_create">
      </div>
    </article>
    <!-- info_box -->

    <article class="right_box">
      <div class="status status_1">
        <h4>ほしい</h4>
        <div class="users">
          <% @registers[:want].each do |user| %>
            <a href="/users/<%= user.username %>">
              <%= icon_image_tag user.icon_name.url('thumb')  %>
            </a>
          <% end %>
        </div>
      </div>

      <div class="status status_2">
        <h4>持ってる</h4>
        <div class="users">
          <% @registers[:has].each do |user| %>
            <a href="/users/<%= user.username %>">
              <%= icon_image_tag user.icon_name.url('thumb')  %>
            </a>
          <% end %>
        </div>
      </div>

      <div class="status status_3">
        <h4>あげたい</h4>
        <div class="users">
          <% @registers[:give].each do |user| %>
            <a href="/users/<%= user.username %>">
              <%= icon_image_tag user.icon_name.url('thumb')  %>
            </a>
          <% end %>
        </div>
      </div>

      <div class="status status_4">
        <h4>体験した</h4>
        <div class="users">
          <% @registers[:experience].each do |user| %>
            <a href="/users/<%= user.username %>">
              <%= icon_image_tag user.icon_name.url('thumb')  %>
            </a>
          <% end %>
        </div>
      </div>

      <div class="status status_5">
        <h4>持っていた</h4>
        <div class="users">
          <% @registers[:had].each do |user| %>
            <a href="/users/<%= user.username %>">
              <%= icon_image_tag user.icon_name.url('thumb')  %>
            </a>
          <% end %>
        </div>
      </div>

      <div class="registers">
      </div>
    </article>

  </section>
</div>

<script>
$(function() {
  var app_view = new BackboneFrustration.Views.Items.ShowView();
});
</script>
