              <!-- comment -->
              <a href="/users/<%= user.username %>" class="user">
                <img alt="Icon" class="icon_name" src="<%= user.icon_name %>">
              </a>

              <div class="message">
                <div class="username">
                  <a href="/users/<%= user.username %>">
                    <%= user.username %>
                  </a>
                  <span class="created">
                    <%= $.timeago(comment.created_at) %>
                  </span>
                </div>
                <p>
                  <%= comment.text %>
                </p>
              </div>
              <!-- /comment -->