<!DOCTYPE html>
<html lang="ja">
  <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=Edge,chrome=1">
    <meta http-equiv="Contents-type" content="text/html; charaset=utf-8">
    <meta name="keywords" content="欲求不満,frustration,frustrationme,frustrate,物欲,amazon,calamel,yahoo auction,ナカジ,nakaji,nakajijapan">
    <meta name="description" content="普段からあれほしいし、あれいらない、あれもってる！そんな物欲をまとめて管理して、さらにみんなで共有してしまおうというサービスです。自分のほしいものが他人にみられて、その物欲が他人に派生して、その方も欲求不満に！自分のいらないものが、それは他人が実はほしいものであったりして身近でコミュニケーションが弾みます！（多分！）さぁ欲求不満になって世界をうめつくせ！！">
    <link rel="shortcut icon" href="/favicon.ico">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= content_for?(:title) ? yield(:title) : "frustration.me - social wish management" %></title>
    <%= csrf_meta_tags %>

    <!-- Javascripts -->
    <%= javascript_include_tag :application %>
    <%= yield :header_javascript %>
    <!-- /Javascripts -->

    <!-- Le HTML5 shim, for IE6-8 support of HTML elements -->
    <!--[if lt IE 9]>
      <script src="http://html5shim.googlecode.com/svn/trunk/html5.js" type="text/javascript"></script>
    <![endif]-->

    <%= stylesheet_link_tag :application, media: 'all' %>

  </head>
  <body id='frustration'>

    <!-- header menu -->
    <header id="header_menu">
      <div>

        <!-- left_block -->
        <div class="left_block">
          <a class="brand" href="/">
            <%= image_tag 'logo.png', id: 'header_logo' %>
          </a>
        </div>
        <!-- right_block -->

        <!-- right_block -->
        <% if @current_user %>
          <div class="right_block">
            <nav class='separate'>
            </nav>
            <nav class='top_menu'>
              <div class="user_info">
                <a href='/users/<%= @current_user.username %>'>
                  <%= icon_image_tag @current_user.icon_name.url('thumb'), size: '40x40', alt: @current_user.username %>
                  <%= @current_user.username %>
                  &nbsp;
                  ▼
                </a>
              </div>
              <ul>
                <li class='user_menu hide'>
                  <ul>
                    <li><a href="/users/<%= @current_user.username %>">Home</a></li>
                    <li><a href="/fumans/search">Search</a></li>
                    <li><a href="/fumans/">List</a></li>
                    <li><a href="/settings/categories">Category</a></li>
                    <li><a href="/settings/profile">Profile</a></li>
                    <li><a href="/logout">Logout</a></li>
                  </ul>
                </li>
              </ul>
            </nav>
          </div>
        <% else %>
          <div class="right_block nologin">
            <nav class='top_menu_nologin'>
              <ul>
                <li><%= link_to :Signup, "/users/new"  %></li>
                <li><%= link_to :Login, "/login"  %></li>
              </ul>
            </nav>
          </div>
        <% end %>
        <!-- /right_block -->

      </div>
    </header>

    <%= yield :sub_header_menu %>
    <!-- /header menu -->


    <!-- container -->
    <div class="container">
      <div class="content">

        <!-- notice -->
        <div>
          <% if params[:notice] || notice %>
            <p id="notice" class="alert alert-success">
              <% if params[:notice] %>
                <%= params[:notice] %>
              <% elsif notice %>
                <%= notice %>
              <% end %>
            </p>
          <% end %>

          <% if params[:alert] || alert %>
            <p id="alert" class="alert alert-error">
              <% if params[:alert] %>
                <%= params[:alert] %>
              <% elsif alert%>
                <%= alert %>
              <% end %>
            </p>
          <% end %>
        </div>
        <!-- /notice -->

        <%= yield %>

      </div>
      <!--/content-->

      <!--
      <br class="clearfix" />
      <footer>
        <p>About us. Copyright 2011 - 2012 &copy; nakajijapan all right reserved.</p>
      </footer>
      -->

    </div>
    <!-- /container -->


    <!-- Javascripts -->
    <%= javascript_include_tag "backbone/application" %>
    <script>
      $(function() {
          var app_view = new BackboneFrustration.Views.HeaderView();
      });
    </script>
    <%= yield :footer_javascript %>
    <!-- /Javascripts -->
  </body>
</html>
